# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [3]:
cur.execute('''SELECT lastname, firstname
                FROM employees
                JOIN offices USING(officecode)
                WHERE city = 'Boston'
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

    lastName firstName
0   Firrelli     Julie
1  Patterson     Steve

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [4]:
cur.execute("""SELECT city, COUNT(*)
                FROM offices
                LEFT JOIN employees
                USING(officeCode)
                GROUP BY city""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

            city  COUNT(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6

## Write 3 Questions of your own and answer them

In [8]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold

In [9]:
# Your code here

In [10]:
# Your code here

In [11]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [13]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [15]:
# Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!